head
    title PDF2List
    script(src="disallow_duplicates.js")
    link(rel="icon" href="/favicon-16x16.png" sizes="16x16" type="image/png")
    link(rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png")

div PDF to vocabulary list

form(action="submit" method="POST" enctype="multipart/form-data")
    input(type="file" name="file")
    input(type="text" name="text" placeholder="Alternatively, paste text here...")
    input(type="text" name="url" placeholder="Or, paste a url here...")
    input(type="text" name="blacklist" placeholder="Paste words you don't want here...")

    label(for="source") Source: 
    select(name="source")
        each val in supportedLanguages
            option(value=val) #{val}
        
    label(for="dest") Dest: 
    select(name="dest")
        each val, index in supportedLanguages
            option(value=val selected= index == 2) #{val}
    
    label(for="stop") Remove stopwords:
    input(type="checkbox" name="stop")
    
    input(type="submit")

div
    h1 How does it work?
    p You upload a PDF file, select the language that the file is in and the language that you wish the output vocabulary list to be in, and then wait for a csv to be downloaded to your computer. This csv can then be given to a service such as Quizlet, which could be used to practise the vocabulary list or to print it.