head
    title BookLearner
    script(src="/socket.io/socket.io.js")

    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-82LCNP4S1B")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-82LCNP4S1B');

    link(rel="icon" href="/favicon-16x16.png" sizes="16x16" type="image/png")
    link(rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png")
    link(rel="stylesheet" href="/main.css")

div(class="title") BookLearner

form(action="submit" method="POST" enctype="multipart/form-data")
    div(class="two")
        label(for="stop") Remove stopwords:
        input(type="checkbox" name="stop")
        label(for="freq") Show frequency:
        input(type="checkbox" name="freq")

    div(class="one")
        input(type="file" name="file" class="file" style="display: none;")
        input(type="button" value="Browse..." onclick="document.querySelector('.file').click()" class="button")
        textarea(name="text" placeholder="Alternatively, paste text here...")
        textarea(name="url" placeholder="Or, paste a url here...")
        textarea(name="blacklist" placeholder="Paste words you don't want here...")

        div(class="selector")
            label(for="source") From
            select(name="source")
                each val in supportedLanguages
                    option(value=val) #{val}

        div(class="selector")
            label(for="dest") To
            select(name="dest")
                each val, index in supportedLanguages
                    option(value=val selected= index == 1) #{val}
        input(type="submit" class="button")
    

footer
    script(src="disallow_duplicates.js")
    script(src="socketclient.js")

div(class="queue")
    h1 Queue position:
    p(class="queue_index") 0

div
    h1 What does this tool do?
    p This tool allows you to take an entire book or article and have it turned into a vocabulary list which you can practise. It was made to reduce the time language learners spend figuring out which words to learn and the time wasted in creating lists to practise from.
    h1 How does it work?
    p You submit a PDF, EPUB, website URL, or plain text to the tool, select the language that the file is in and the language that you wish the output vocabulary list to be in, and then wait for a csv to be downloaded to your computer. This csv can then be given to a service such as Quizlet or Anki, which could be used to practise the vocabulary list or to print it.

    p If the service is particularly busy you may have to wait in the queue for your translations.

    h1 Not all of the words were translated!
    p There are a few reasons why this might have happened. If you attempt to translate 100 words which have not been translated before, then the extra words won't be counted. This will mostly be an issue for languages which have only recently been added. Other than this, words might not be translated if they have the wrong capitals in languages which are sensitive to capital letters (e.g. German) or if there is trouble parsing the PDF.

    h1 How can I help?
    p It is quite expensive to keep this tool running, as translations cost a reasonable price to buy. You can help support the operation of this website 
        a(href="https://www.buymeacoffee.com/petergoedeke") here.
    p If no one donates then it won't be possible for me to keep this online :(
    p No money will be used for any purposes other than to keep this website operational.
    p On a non-money related note, it would be great if any of who you appreciate this tool could give the github repository a star over 
        a(href="https://github.com/PeterGoedeke/flashcards") here.
    
    h1 Can you add support for another language?
    p It's very likely that I would be able to add support for the language you are thinking of. The catch is that each additional language will cost me more money, so I'll add more languages if I get enough donations to cover costs.