.title {
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.one {
    border: solid lightgrey 1px;
    border-radius: 2.5vh;
    width: 80vw;
    margin: auto;
    display: flex;
    height: 100px;
    justify-content: stretch;
    align-items: center;
    padding: 0 20px;
}

.one > * {
    border: none;
    border-right: solid grey 1px;
    height: 75%;
    flex-grow: 1;
    margin: 0 2.5px;
}

.one:last-child() {
    border-right: none;
}

.selector {
    /* float: left; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.selector > * {
    display: block;
    text-align: center;
}

.selector > *, .two > *, h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.two {
    margin-left: 13vw;
}

.button {
    background-color: rgb(30,129,176);
    color: white;
    border-radius: 20px;
    height: 50%;
}

h1, p {
    text-align: center;
}

p {
    font-family: serif;
    width: 80%;
    margin: 0 auto;
}

.queue {
    display: none;
}